{% extends 'base.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Login</h1>
		<form method="POST" novalidate>
			<div>
				<label for="email">Email:</label><br>
				<input id="email" type="email" name="email" value="{{ app.session.get(constant('App\\Controller\\SecurityController::LAST_EMAIL'))}}">
			</div><br>
			<div>
				<label for="password">Password:</label><br>
				<input id="password" type="password" name="password">
			</div><br>
			<div>
				<label for="_remember_me">
					<input type="checkbox" id="_remember_me" name="_remember_me">
					Remember me
				</label>
			</div><br>
			<input type="hidden" name="csrf_token" value="{{ csrf_token('login_form')}}">
		</div>
		<div class="col-sm d-flex justify-content-center">
			<input id="submit" type="submit" name="submit" value="Submit" class="btn btn-dark">
		</div>
		<br>
	</form>
{% endblock %}
